<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="sungjuk">
	<insert id="write" parameterType="com.java.sunjuk.dto.Sungjuk">
		insert into sungjuk values(sungjuk_bunho_seq.nextval , #{name} ,
		#{kor} , #{eng} , #{math} , #{total} , #{average}
		)
	</insert>
</mapper>